{{extend 'layout.html'}}
<h2>These are the games you need to play</h2>
<table>
{{for g in games:}}<tr><td>{{="vs. " + str(db.executesql("SELECT p.InGameName from Player p, Game_to_Players g WHERE g.GID = " + str(g[0]) + " AND g.PID = p.ID AND g.PID <> " + pid)[0][0])}}</td>
<td>{{= "on " + str(db.executesql("SELECT m.Name from Map m, Game g WHERE g.ID = "  + str(g[0]) + " AND g.MapID = m.ID")[0][0])}}</td>\
<td>{{=A(T(" Submit Replay"), _href=URL('replay','upload', args=str(g[0])))}}</td>
</tr></li>{{pass}}
</table>
